extends layouts/mainLayout.pug 

block content 
    if errorMessage
        span.errorMessage #{errorMessage}
    else 
        script. 
            let chatId = '!{chat._id}'

        .chat-page-container 
            .chat-title-bar-container 
                +createChatImage(chat, user)
                span#chatName(data-bs-toggle="modal", data-bs-target= '#chatNameModal')

            .main-content-container 
                .loading-spinner-container
                    img(src="/images/loader.gif", alt="Loading Spinner")
                .chat-container(style="visibility: hidden")
                    ul.chat-messages

                    .footer 
                        textarea.input-textbox(name="messageInput", placeholder="Type a message...") 
                        button.send-message-button
                            i.fas.fa-paper-plane

        +createChatNameModal(chat)

block scripts
    script(src="/js/chat.js") 